/* Styles go here */
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    background-image: url('./images/weather.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    /* visibility: hidden; */
    
    height: 100px;
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
    /* box-shadow: 3px 3px 3px #ccc; */
}

header h1 {
    font-size: 4vw;
    font-weight: bold;
    background: linear-gradient(to right,rgb(33 107 70),#af9360);
    width: 75%;    
    margin: auto;

    box-shadow: 15px 15px 5px rgba(27, 23, 23, 0.452);
}

.main {
    text-align: center;
    padding-top: 30px;
}

#search {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#search label {
    font-weight: bold;
    font-size: 30px !important;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#search input {
    font-size: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    width: 40%;
    padding: 5px;
}

#search input:focus{
    outline-width: 0;
}

#search button {
    font-family: inherit;
    font-size: inherit;
    background-color:rgb(45 71 42); 
    border: 1px solid rgb(34 68 34);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    position: relative;
}




#search button:focus{
    outline-width: 0;
}

#search button:hover {
    background-color: rgb(15, 44, 25);
    transition: ease-in-out;
}
span{
    position: absolute;
    opacity: 0;
    
}
#search button:hover  span{
    opacity: 1;
}

#weather {
    padding: 30px;
    border: 1px solid #ccc;
    width: 500px;
    margin: 100px auto auto;
    background: rgba(78, 78, 78, 0.616);
    box-shadow: 2px 2px 3px #ccc;
    color: white;
    box-sizing: border-box;
    display: none;
    border-radius: 10px;
    font-weight: bold;
}

#weather h1 {
    text-transform: capitalize;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    
}

#weatherDescription {
    float:left;
}

#weatherTemperature {
    float: right;
    cursor: pointer;
}

#load {
    padding: 30px;
    width: 500px;
    margin: 100px auto auto;
    display: none;
}

.highlight {
    padding: 5px; 
    border-radius: 5px;
    font: bold 16px"Helvetica Neue", Sans-Serif;
    color: rgb(7, 8, 8);
    text-transform: capitalize;
    box-shadow: 0 5px 7px rgba(37, 44, 46, 0.788);
    background-color: rgb(141, 143, 145);
    opacity: 1;
    width:120px;
    font-size: 15px;
}